# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml
.env.docker
*.yaml

# Postgres / pgAdmin
*.sql
*.dump
pg_data/             
pgadmin-data/

# Editor/IDE
.vscode/
.idea/

certifications/

docker-compose.yaml
package.json
package-lock.json
