<div class="exerciseGrid">
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Bicep Curl</h3>
            <img src="/images/exercises/arms/dumbbell_alternate_biceps_curl.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Hammer Curl</h3>
            <img src="/images/exercises/arms/dumbbell_hammer_curl.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Preacher Curl</h3>
            <img src="/images/exercises/arms/dumbbell_preacher_curl.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Lying Tricep Extension</h3>
            <img src="/images/exercises/arms/barbell_lying_triceps_extension_skull_crusher.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Tricep Pushdown</h3>
            <img src="/images/exercises/arms/cable_triceps_pushdown_v_bar.gif" alt="description">
        </div>
    </a>
</div>