<div class="exerciseGrid">
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Barbell Row</h3>
            <img src="/images/exercises/back/barbell_bent_over_row.gif" alt="Barbell Row">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>T-Bar Row</h3>
            <img src="/images/exercises/back/lever_t_bar_row.gif" alt="T-Bar Row">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Lat Pulldown</h3>
            <img src="\images\exercises\back\lever_front_pulldown.gif" alt="Lat Pulldown">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Seated Cable Row</h3>
            <img src="\images\exercises\back\cable_straight_back_seated_row.gif" alt="Seated Cable Row">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Pull-Up</h3>
            <img src="/images/exercises/back/pull_up.gif" alt="Pull-Up">
        </div>
    </a>
</div>