<div class="exerciseGrid">
    <!-- Ensure EVERY image is 281 pixels wide, or fit to 281px for even blocks. -->
    <!-- (a.text-decoration-none[href="#"][target="_blank"][rel="noopener"][id="a_tag"]>div.col>h3+img[src="#"][alt="description"])*10 -> ctrl+space -->
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Bench Press (Barbell)</h3>
            <img src="/images/exercises/chest/barbell_bench_press.gif" alt="Bench Press (Barbell)">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Incline Bench Press (Barbell)</h3>
            <img src="/images/exercises/chest/barbell_incline_bench_press.gif" alt="Incline Bench Press (Barbell)">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Bench Press (Dumbbell)</h3>
            <img src="/images/exercises/chest/dumbbell_bench_press.gif" alt="Bench Press (Dumbbell)">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Incline Bench Press (Dumbbell)</h3>
            <img src="/images/exercises/chest/dumbbell_incline_bench_press.gif" alt="Incline Bench Press (Dumbbell)">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Chest Fly Machine</h3>
            <img src="/images/exercises/chest/lever_seated_fly.gif" alt="Chest Fly Machine">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Push-Up</h3>
            <img src="/images/exercises/chest/push_up.gif" alt="Push-Up">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Chest Press (Machine)</h3>
            <img src="/images/exercises/chest/lever_chest_press.gif" alt="Chest Press (Machine)">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Decline Bench Press (Barbell)</h3>
            <img src="/images/exercises/chest/barbell_decline_bench_press.gif" alt="Decline Bench Press (Barbell)">
        </div>
    </a>
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Decline Bench Press (Dumbbell)</h3>
            <img src="/images/exercises/chest/dumbbell_decline_bench_press.gif" alt="Decline Bench Press (Dumbbell)">
        </div>
    </a>
</div>