<div class="exerciseGrid">
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Sit-Ups</h3>
            <img src="/images/exercises/core/3_4_sit_up.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Crunches</h3>
            <img src="/images/exercises/core/crunch_floor.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Straight Leg Raise</h3>
            <img src="/images/exercises/core/captains_chair_straight_leg_raise.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Planks</h3>
            <img src="/images/exercises/core/weighted_front_plank.gif" alt="description">
        </div>
    </a>
</div>