<div class="exerciseGrid">
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Squat</h3>
            <img src="/images/exercises/legs/barbell_high_bar_squat.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Front Squat</h3>
            <img src="/images/exercises/legs/barbell_front_squat.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Deadlift</h3>
            <img src="/images/exercises/legs/barbell_deadlift.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Romanian Deadlift</h3>
            <img src="/images/exercises/legs/barbell_romanian_deadlift.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Seated Leg Extension</h3>
            <img src="/images/exercises/legs/lever_leg_extension.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Seated Leg Curl</h3>
            <img src="/images/exercises/legs/lever_seated_leg_curl.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Bulgarian Split Squat</h3>
            <img src="/images/exercises/legs/dumbbell_single_leg_split_squat.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Leg Press</h3>
            <img src="/images/exercises/legs/sled_45в°_leg_press.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Hack Squat</h3>
            <img src="/images/exercises/legs/sled_hack_squat.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Hip Abduction</h3>
            <img src="/images/exercises/legs/lever_seated_hip_abduction.gif" alt="description">
        </div>
    </a>
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Hip Adduction</h3>
            <img src="/images/exercises/legs/lever_seated_hip_adduction.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Hip Thrust</h3>
            <img src="/images/exercises/legs/barbell_lying_lifting_on_hip.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Standing Calf Raise</h3>
            <img src="/images/exercises/legs/cable_standing_calf_raise.gif" alt="description">
        </div>
    </a>
</div>