<div class="exerciseGrid">
    <a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Barbell Overhead Press</h3>
            <img src="/images/exercises/shoulders/barbell_standing_wide_military_press.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Dumbbell Overhead Press</h3>
            <img src="/images/exercises/shoulders/dumbbell_standing_overhead_press.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Dumbbell Lateral Raise</h3>
            <img src="/images/exercises/shoulders/dumbbell_lateral_raise.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Dumbbell Reverse Fly</h3>
            <img src="/images/exercises/shoulders/dumbbell_reverse_fly.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Machine Reverse Fly</h3>
            <img src="/images/exercises/shoulders/lever_seated_reverse_fly.gif" alt="description">
        </div>
    </a><a href="#" class="text-decoration-none" rel="noopener" id="a_tag">
        <div class="col2">
            <h3>Dumbbell Front Raise</h3>
            <img src="/images/exercises/shoulders/dumbbell_front_raise.gif" alt="description">
        </div>
    </a>
</div>