<div class="pageBody">
	<div class="container loginreg shadow-lg" id="donateContainer">
		<div class="col-md-11 mb-3">
			<h3 class="mb-3">
				About Strength Sculptor
			</h3>
			<p>
				Built from the ground up, Strength Sculptor was born out of necessity - a strength
				calculator with complete muscle group analysis at the click of a button.
			</p>
			<p>
				Strength Sculptor is being developed by a computer science student at CU Boulder, with cybersecurity as
				a top priority. User data is protected with industry-standard encryption methods and has undergone
				rigorous penetration testing to ensure your privacy and protection.
			</p>
			<div style="margin-top: 5rem; padding: 1rem; font-style: italic; background-color: #f9f9f9;">
				<p>Thank you for using Strength Sculptor. I hope this tool becomes a meaningful part of your
					weightlifting
					journey as it has in mine.</p>

				<p>I'm continuously sharpening my UI/UX and web development skills, and new functionalities of this
					website
					are being carefully developed even as you read this.</p>

				<p>If you have any feedback, ideas or recommendations, don't hesitate to reach out to me personally at
				</p>

				<p style="font-style: normal;">
					📩 <a href="mailto:strengthsculptorapp@gmail.com">StrengthSculptorApp@gmail.com</a><br>
					<span style="display: block; margin-top: 0.5rem; font-style: italic">- Jesús N., Founder of Strength
						Sculptor</span>
				</p>
			</div>
		</div>
	</div>
</div>