<div class="exerciseGrid">
    <!-- Ensure EVERY image is 281 pixels wide, or fit to 281px for even blocks. -->
    <a href="/exercises/chest" rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Chest</h3>
            <img src="images/muscle_group_diagrams/chest_cropped.jpg" alt="Description">
        </div>
    </a>
    <a href="/exercises/shoulders"
   rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Shoulders</h3>
            <img src="images/muscle_group_diagrams/shoulders_cropped.jpg" alt="Description">
        </div>
    </a>
    <a href="/exercises/back" 
   rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Back</h3>
            <img src="images/muscle_group_diagrams/back_cropped.jpg" alt="Description">
        </div>
    </a>
    <a href="/exercises/arms"
   rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Arms</h3>
            <img src="images/muscle_group_diagrams/arms_cropped.jpg" alt="Description">
        </div>
    </a>
    <a href="/exercises/core"
   rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Core</h3>
            <img src="images/muscle_group_diagrams/core_cropped.jpg" alt="Description">
        </div>
    </a>
    <a href="/exercises/legs"
   rel="noopener" class="text-decoration-none" id="a_tag">
        <div class="col">
            <h3>Legs</h3>
            <img src="images/muscle_group_diagrams/legs_cropped.jpg" alt="Description">
        </div>
    </a>
</div>