{{> message}}
<div style="min-height: 90vh; display: flex;">
    <div class="container-md loginreg shadow-lg">
        <a href="/home" class="btn-close position-absolute top-0 end-0 m-5" aria-label="Close"></a>
        <div class="row flex-column flex-md-row">
            <div class="col-md-5 order-2 order-md-1" id="insideLoginDiv">
                <h1 id="title">Strength Sculptor</h1>
                <h4 id="header">Create your account</h4>
                <form action="/register" method="post" class="py-4" id="loginForm">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form-group pb-4">
                        <input type="text" class="form-control" required id="username" name="username"
                            placeholder="Username">
                    </div>
                    <div class="form-group pb-4">
                        <input type="password" class="form-control" required id="password" name="password"
                            placeholder="Password">

                    </div>
                    <p id="password-strength"></p>
                    <button type="submit" class="btn btn-primary" id="register-btn" disabled>Create my Strength Sculptor
                        account</button>
                    <!-- if the users password did not meet the requirement then the register button will be unaccessible to the user until they meet the requirement-->
                </form>
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
            <div class="col-md-6 d-flex justify-content-center order-1 order-md-2" id="fullLogo">
                <img src="images/SSLogo.svg" alt="Strength Sculptor Logo">
            </div>
        </div>
    </div>
</div>


<script src="/js/register.js"></script>